
body {
    font: 12px courier;
}

td:before {
    content: '';
    display: block; 
    width: 15em;
    align-content: center;
  }

.link {
    fill: none;
    stroke: #A0A0A0;
}

.border {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #aaa;
}

.node {
	stroke: black;
	fill: #FFFFFF
}

.node.int {
	fill: green;
}

.node.double {
	fill:cyan
}

.node.ERROR {
	fill:red
}

.node.processed {
    opacity: 1.0;
}

.node.unprocessed {
    opacity: 0.3;
}
